/* css styles */

/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Montserrat', 'system-ui','Roboto', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'system-ui','Roboto', sans-serif, 'Chakra Petch', 'Montserrat';
  }

*/

.navbar-logo {
    max-height: 36px;
}

.quarto-figure-center .caption{
  text-align: center;
}

.footer-logo {
    max-height: 24px;
}

.nav-footer-left, .nav-footer-right {
    display: none !important;
}

.nav-footer-center {
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
}